header{
        background-image: linear-gradient(to bottom right, red, yellow);
}
/* nav u1 {
    margin: 0 auto 0 auto;
    padding: 0%;
    width: 240px

} */

nav u1 {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    
}

nav li{
    display: inline-block;
    margin: 10px 20px 20px 10px;
}

.grid{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 100% auto;
gap: 15px;
width: 960px;
margin: auto;
}

.grid h1{
    grid-column-start: 1;
    grid-column-end: 3;
}